<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.voicetranslator"
    android:versionCode="119"
    android:versionName="1.8.4" >

    <!--<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:label="Voice Translator"
            android:screenOrientation="sensorPortrait" >
            
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Include the AdActivity configChanges and theme. -->

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />



        <service
            android:name=".ChatHeadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="sensorPortrait" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.education.voicetranslator"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" >
            </meta-data>
        </provider>

       <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true"
             />
        
        <activity
            android:name=".GetTextShare"
            android:label="Quick Translate" 
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr"/>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDeCZ19I5Y-SdBEWTW5jzJpiQd5PR5NLJQ" />
        <!-- Broadcast Receivers -->

        <!--<service
            android:name=".MyFirebaseMessagingService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"
                    android:exported="true"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"
                    android:exported="true"/>
            </intent-filter>
        </service>

        &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_small" />
        &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/maincolor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>-->

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
    </application>

</manifest>
